<!--Header Mapping-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" href="#">FINLEX</a>
    </div>
    <form class="form-inline" action="/action_page.php">
      <ul class="navbar-nav">
        <li class="nav-item" style="padding-right: 20px;">
          <a  href="#" tooltip="842**-*1234" placement="bottom" style="color:white">CONTACT</a>
        </li>
        <li class="nav-item" style="padding-right: 20px;">
          <a href="#" tooltip="flix****@gmail.com" placement="bottom" href="#" style="color:white">EMAIL</a>
        </li>
      </ul>
      <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
          placeholder="Search Name">
      </div>
    </form>
  </div>
</nav>
<!--All Table data-->
<div class="container">
  <table class="table table-striped table-dark">
    <thead >
      <th class="font-weight-bold">
        Name
      </th>
      <th class="font-weight-bold">
        View Details
      </th>
      <th>
        Update Details
      </th>
      <th class="font-weight-bold">
        Erase
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let client of clientDetailData| filter:searchText">
        <td>
          {{client?.employee_name}}
        </td>
        <td (click)="open(mymodal, client.id)">
          <i class="fa fa-eye"></i>
        </td>
        <td (click)="open2(mymodal2, client.id, 'update')">
          <i class="fa fa-pencil-square"></i>
        </td>
        <td (click)="deleteClient(client.id)">
          <i class="fa fa-eraser"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--  Client Detail Modal-->
<ng-template #mymodal let-modal>
  <div class="modal-header font-weight-bold button" >
    {{clientDetail.employee_name}} Detail :
    <button type="button" class="close button" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body container">
    <table class="table">
      <thead>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          Age
        </th>
        <th>
          Salary
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            {{clientDetail?.id}}
          </td>
          <td>
            {{clientDetail?.employee_name}}
          </td>
          <td>
            {{clientDetail?.employee_age}}
          </td>
          <td>
            {{clientDetail?.employee_salary}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
<!--Update Modal-->
<ng-template #mymodal2 let-modal>
  <div class="modal-header font-weight-bold button">
    {{operationName}} Client
    <button type="button" class="close button" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <br>
    <div class="form-group">
      <div class="col-md-12">
        <label>Name</label>
        <input type="text" [(ngModel)]="updateClient.employee_name" formControlName="name" class="form-control"
          [ngClass]="{ 'is-invalid': sumbit && f.name.errors }" />
        <div *ngIf="sumbit && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required"> Name is required</div>
          <div *ngIf="f.name.errors.pattern">Only alphabets are allowed</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label>AGE</label>
        <input type="text" [(ngModel)]="updateClient.employee_age" formControlName="age" class="form-control"
          [ngClass]="{ 'is-invalid': sumbit && f.age.errors }" />
        <div *ngIf="sumbit && f.age.errors" class="invalid-feedback">
          <div *ngIf="f.age.errors.required"> Age is required</div>
          <div *ngIf="f.age.errors.pattern">Only Numeric Field IS Allowed</div>
          <div *ngIf="f.age.errors.minlength">
            Max age should not be more than 3 characters
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <label>SALARY</label>
        <input type="text" formControlName="salary" [(ngModel)]="updateClient.employee_salary" class="form-control"
          [ngClass]="{ 'is-invalid': sumbit && f.salary.errors }" />
        <div *ngIf="sumbit && f.salary.errors" class="invalid-feedback">
          <div *ngIf="f.salary.errors.required">Salary is required</div>
          <div *ngIf="f.salary.errors.pattern">Only Numeric Field is Allowed</div>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <button class="btn btn-success">{{operationName}}</button>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
<!--Add New Client-->
<div style="align-content: center; padding-left: 1350px;" class="col-md-3">
  <button (click)="open2(mymodal2, 0, 'Add')" class="btn button">Add Client</button>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://facebook.com/">facebook.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->